<div class="row mt-5 mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gráficos del partido</h4>
        <p class="card-text">Visualización de estadísticas extraídas del Excel.</p>
        <div class="row">
          <div class="col-md-6 mb-3">
            <img src="{{ url_for('static', filename='graficos/grafico1.png') }}" class="img-fluid" alt="Gráfico 1">
          </div>
          <div class="col-md-6 mb-3">
            <img src="{{ url_for('static', filename='graficos/grafico2.png') }}" class="img-fluid" alt="Gráfico 2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

