{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y d-flex justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">

              <!-- Título -->
          <h2 class="mb-2 text-primary">
            <i class="ri-questionnaire-line me-2"></i> Preguntas Frecuentes
          </h2>
          <p class="text-muted mb-4">
            Encuentra aquí las respuestas a las consultas más comunes.
          </p>

          <!-- Buscador -->
          <!-- <form method="get" action="{{ url_for('faq.faq') }}" class="mb-4 d-flex">
            <input type="text" name="q" class="form-control me-2 shadow-sm"
                   placeholder="Buscar pregunta..." value="{{ search or '' }}">
            <button type="submit" class="btn btn-primary shadow-sm">
              <i class="ri-search-line"></i> Buscar
            </button>
          </form> -->
         

          <!-- FAQ's -->
          <div class="accordion" id="faqAccordion">
            {% for faq in faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ faq.Id }}">
                <button
                  class="accordion-button {% if not loop.first %}collapsed{% endif %}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse{{ faq.Id }}"
                  aria-expanded="{{ 'true' if loop.first else 'false' }}"
                  aria-controls="collapse{{ faq.Id }}">
                    <i class="ri-question-line text-primary me-2"></i>
                <span>{{ faq.Pregunta }}</span>
                </button>
              </h2>
              <div
                id="collapse{{ faq.Id }}"
                class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                aria-labelledby="heading{{ faq.Id }}"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  {{ faq.Respuesta }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- /FAQ's -->

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- DataTables Buttons CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"/>

<!-- DataTables y Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>



{% endblock %}
