{% extends "base.html" %}


{% block content %}

<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
               
                <div class="col-md-12">
                 
                  <div class="card mb-6">
                    <!-- Sección Avatar -->
                <div class="card-body">
                  <div class="d-flex align-items-start align-items-sm-center gap-6">
                    <!-- Foto o iniciales -->
                
                      <div
                        class="d-flex align-items-center justify-content-center rounded-4 bg-label-primary text-white fw-bold"
                        style="width: 100px; height: 100px; font-size: 2rem;">
                        {{ current_user.Nombre[0] }}{{ current_user.Apellido[0] }}
                      </div>
                      <div class="d-flex flex-column">
                        <div>
                            <h5 class="fw-semibold fs-3">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
                            </div>
                        <div>
                            <span class="badge bg-label-hover-info rounded-pill">
                              {{usuario.rol}}</span>
                        </div>
                        </div>

                    
                    

                  </div>
                </div>

                <!-- Sección Formulario -->
                <div class="card-body pt-0">
                  <form id="formAccountSettings" method="POST" action="/editUsuario">
                    <div class="row mt-1 g-5">
                      <!-- <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" />
                          <label for="nombre">Nombre</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="apellido" name="apellido" value="{{ usuario.apellido }}" />
                          <label for="apellido">Apellido</label>
                        </div>
                      </div> -->

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="email" id="email" name="email" value="{{ usuario.email }}" />
                          <label for="email">Email</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="telefono" name="telefono" value="{{ usuario.telefono }}" />
                          <label for="telefono">Teléfono</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="direccion" name="direccion" value="{{ usuario.direccion }}" />
                          <label for="direccion">Dirección</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                      <div class="form-floating form-floating-outline">
                              <select id="localidad" name="localidad" class="form-select">
                                <option value="" disabled >Seleccioná una localidad</option>
                                {% for localidad in localidades %}
                                  <option value="{{ localidad.value }}">{{ localidad.text }}</option>
                                {% endfor %}
                              </select>
                              <label for="localidad">Localidad</label>
                            </div>
                        </div>


                      {% if current_user.IdRol == RolEnum.Deportista %}
                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" value="{{ usuario.fechaNacimientoISO }}" readonly disabled />
                          <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="federado" name="federado" value="{{ usuario.federado }}" readonly disabled  />
                          <label for="federado">Tipo Deportista</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="categoria" name="categoria" value="{{ usuario.idCategoria }}" readonly disabled />
                          <label for="categoria">Categoría</label>
                        </div>
                      </div>
                      {% endif %}

                      <!-- <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input class="form-control" type="text" id="rol" name="rol" value="{{ usuario.rol }}" readonly disabled  />
                          <label for="rol">Rol</label>
                        </div>
                      </div> -->

                      <div class="col-md-6">
                        <div class="form-floating form-floating-outline">
                          <input
                            class="form-control {{ 'is-valid' if usuario.IdEstado == Activo else 'is-invalid' }}"
                            type="text"
                            id="estado"
                            name="estado"
                            value="{{ usuario.estado }}"
                            readonly disabled  />
                          <label for="estado">Estado</label>
                        </div>
                      </div>
                    </div>

                    <div class="mt-6">
                      <button type="submit" class="btn btn-primary me-3">Guardar cambios</button>
                     
                    </div>
                  </form>
                </div>
                   
                  </div>
                  <!-- /User Card -->
                    <div class="card">
                    <!-- Cambiar contraseña -->
                    <h5 class="card-header">Cambiar Contraseña</h5>
                    <div class="card-body">

                    <form id="formChangePassword" method="POST" action="{{ url_for('usuarios.cambiar_contraseña') }}">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <h5 class="alert-heading mb-1">Asegúrese de que se cumplan estos requisitos: </h5>
                      <span>Mínimo 8 caracteres de largo, una mayúscula y un símbolo</span>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="row gx-5">
                      <!-- nueva contraseña -->
                        <div class="mb-3 col-12 col-sm-6">
                              
                                  <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline flex-grow-1">
                                      <input
                                        type="password"
                                        id="newPassword"
                                        name="newPassword"
                                        placeholder="••••••••••••"
                                        class="form-control {% if errors and errors.newPassword %}is-invalid{% endif %}" />
                                      <label for="newPassword">Nueva Contraseña</label>
                                    </div>
                                    <!-- <span class="input-group-text cursor-pointer toggle-password">
                                      <i class="ri-eye-off-line"></i>
                                    </span> -->
                                  </div>
                                  {% if errors and errors.newPassword %}
                                    <div class="invalid-feedback d-block">
                                      {{ errors.newPassword }}
                                    </div>
                                  {% endif %}
                                
                              </div>

                              <!-- Confirmar contraseña -->
                              <div class="mb-3 col-12 col-sm-6">
                                
                                  <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline flex-grow-1">
                                      <input
                                        type="password"
                                        id="confirmPassword"
                                        name="confirmPassword"
                                        placeholder="••••••••••••"
                                        class="form-control {% if errors and errors.confirmPassword %}is-invalid{% endif %}" />
                                      <label for="confirmPassword">Confirmar nueva contraseña</label>
                                    </div>
                                    <!-- <span class="input-group-text cursor-pointer toggle-password">
                                      <i class="ri-eye-off-line"></i>
                                    </span> -->
                                  </div>
                                  {% if errors and errors.confirmPassword %}
                                    <div class="invalid-feedback d-block">
                                      {{ errors.confirmPassword }}
                                    </div>
                                  {% endif %}
                            
                              </div>

                      <div>
                        <button type="submit" class="btn btn-primary me-2">Cambiar Contraseña</button>
                      </div>
                    </div>
                  </form>

                    </div>
                  </div>
                  
                </div>
                <!--/ User Sidebar -->

                <!-- User Content -->
                
             
                
                
                  

                </div>
                
                <!--/ User Content -->
              </div>

              
            </div>
            <!-- / Content -->



{% endblock %}