{% extends "base.html" %}


{% block content %}

<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row gy-6 gy-md-0">
                <!-- User Sidebar -->
                <div class="col-xl-4 col-lg-5 col-md-5">
                  <!-- User Card -->
                  <div class="card mb-4">
                    <div class="card-body pt-12">
                      <div class="user-avatar-section">
                        <div class="d-flex align-items-center flex-column">
                         <div class="avatar rounded-circle d-flex  align-items-center justify-content-center text-white bg-label-primary mb-4"
                                  style="width: 120px; height: 120px; font-size: 2rem; color: white;">
                                {{ current_user.Nombre[0] }}{{ current_user.Apellido[0] }}
                              </div>

                          <div class="user-info text-center">
                            <h5>{{ usuario.nombre }} {{ usuario.apellido }}</h5>
                            <span class="badge bg-label-hover-info rounded-pill">{{usuario.rol}}</span>
                          </div>
                        </div>
                      </div>
                     
                      <h5 class="pb-4 border-bottom mb-4">Datos</h5>
                      <div class="info-container">
                        <ul class="list-unstyled mb-6">
                             <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Nombre:</span>
                            <span>{{ usuario.nombre }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Apellido:</span>
                            <span>{{ usuario.apellido }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Usuario:</span>
                            <span>{{usuario.usuario}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Email:</span>
                            <span>{{ usuario.email }}</span>
                          </li>
                          {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Deportista %}
                           <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Fecha Nacimiento:</span>
                            <span>{{ usuario.fechaNacimientoISO }}</span>
                          </li>
                          {% endif %}
                           {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Deportista %}
                           <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Tipo Deportista:</span>
                            <span>{{ usuario.federado }}</span>
                          </li>
                          {% endif %}
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Estado:</span>
                            <span class="badge rounded-pill {{ 'bg-label-success' if usuario.IdEstado == Activo else 'bg-label-danger' }}">
                              {{ usuario.estado }}
                            </span>
                          </li>
                         {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Deportista %}
                           <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Categoria:</span>
                            <span>{{usuario.idCategoria}}</span>
                          </li>
                          {% endif %}
                          
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Rol:</span>
                            <span>{{usuario.rol}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Dirección:</span>
                            <span>{{usuario.direccion}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Localidad:</span>
                            <span>{{usuario.localidad}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Telefono:</span>
                            <span>{{usuario.telefono}}</span>
                          </li>
                          
                        </ul>
                        <div class="d-flex justify-content-center">
                          <a
                            href="javascript;;"
                            class="btn btn-primary me-4"
                            data-bs-target="#editUser"
                            data-bs-toggle="modal"
                            >Editar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /User Card -->
                  
                </div>
                <!--/ User Sidebar -->

                <!-- User Content -->
                <div class="col-xl-8 col-lg-7 col-md-7">
                 
                  <!-- Tabla que muestra los pagos filtrados para ese usuario -->
                  {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Deportista %}
                  <div class="card mb-4">
                    <h5 class="card-header">Estado de Cuotas</h5>
                    <div class="table-responsive text-nowrap">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Mes</th>                        
                            <th>Estado</th>
                            <th>Fecha pago</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          {% if pagos %}
                          {% for pago in pagos %}
                            <tr>
                              <td>{{ pago.periodo if pago.periodo else '-' }}</td>
                              <td>
                                {% if pago.estado == 'Pago' %}
                                  <span class="badge rounded-pill bg-label-success me-1">Pago</span>
                                {% elif pago.estado == 'NoPago' %}
                                  <span class="badge rounded-pill bg-label-danger me-1">No Pago</span>
                                {% elif pago.estado == 'Pendiente' %}
                                  <span class="badge rounded-pill bg-label-warning me-1">Pendiente</span>
                                {% else %}
                                  <span class="badge rounded-pill bg-label-secondary me-1">Desconocido</span>
                                {% endif %}
                              </td>
                              <td>{{ pago.fecha_pago.strftime('%d/%m/%Y') if pago.fecha_pago else '-' }}</td>
                            </tr>
                          {% endfor %}
                          {% else %}
                            <tr>
                              <td colspan="3" class="text-center text-muted">No hay pagos registrados</td>
                            </tr>
                          {% endif %}


                        </tbody>
                      </table>
                    </div>
                  </div>
                   {% endif %}

                  <div class="card">
                    <!-- Cambiar contraseña -->
                    <h5 class="card-header">Cambiar Contraseña</h5>
                    <div class="card-body">

                    <form id="formChangePassword" method="POST" action="{{ url_for('usuarios.cambiar_contraseña') }}">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <h5 class="alert-heading mb-1">Asegúrese de que se cumplan estos requisitos: </h5>
                      <span>Mínimo 8 caracteres de largo, una mayúscula y un símbolo</span>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="row gx-5">
                      <!-- nueva contraseña -->
                        <div class="mb-3 col-12 col-sm-6">
                              
                                  <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline flex-grow-1">
                                      <input
                                        type="password"
                                        id="newPassword"
                                        name="newPassword"
                                        placeholder="••••••••••••"
                                        class="form-control {% if errors and errors.newPassword %}is-invalid{% endif %}" />
                                      <label for="newPassword">Nueva Contraseña</label>
                                    </div>
                                    <!-- <span class="input-group-text cursor-pointer toggle-password">
                                      <i class="ri-eye-off-line"></i>
                                    </span> -->
                                  </div>
                                  {% if errors and errors.newPassword %}
                                    <div class="invalid-feedback d-block">
                                      {{ errors.newPassword }}
                                    </div>
                                  {% endif %}
                                
                              </div>

                              <!-- Confirmar contraseña -->
                              <div class="mb-3 col-12 col-sm-6">
                                
                                  <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline flex-grow-1">
                                      <input
                                        type="password"
                                        id="confirmPassword"
                                        name="confirmPassword"
                                        placeholder="••••••••••••"
                                        class="form-control {% if errors and errors.confirmPassword %}is-invalid{% endif %}" />
                                      <label for="confirmPassword">Confirmar nueva contraseña</label>
                                    </div>
                                    <!-- <span class="input-group-text cursor-pointer toggle-password">
                                      <i class="ri-eye-off-line"></i>
                                    </span> -->
                                  </div>
                                  {% if errors and errors.confirmPassword %}
                                    <div class="invalid-feedback d-block">
                                      {{ errors.confirmPassword }}
                                    </div>
                                  {% endif %}
                            
                              </div>

                      <div>
                        <button type="submit" class="btn btn-primary me-2">Cambiar Contraseña</button>
                      </div>
                    </div>
                  </form>

                    </div>
                  </div>
                </div>
                
                  

                </div>
                
                <!--/ User Content -->
              </div>

              <!-- Modal -->
              <!-- Edit User Modal -->
              <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body p-0">
                      <div class="text-center mb-6">
                        <h4 class="mb-2">Editar Información</h4>
                        
                      </div>
                      <form id="editUserForm" class="row g-5" action="/editUsuario" method="post">
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input 
                              type="text"
                              id="Nombre"
                              name="Nombre"
                              class="form-control"
                              value="{{ usuario.nombre }}"
                              placeholder="Nombre" required />
                            <label for="modalEditUserFirstName">Nombre</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Apellido"
                              name="Apellido"
                              class="form-control"
                              value="{{ usuario.apellido }}"
                              placeholder="Apellido" 
                              required/>
                            <label for="modalEditUserLastName">Apellido</label>
                          </div>
                        </div>
                        <div class="col-12  col-md-6">
                          <div class="form-floating form-floating-outline" readonly>
                            <input
                              type="text"
                              id="Usuario"
                              name="Usuario"
                              class="form-control"
                              value="{{ usuario.usuario }}"
                              placeholder="laradelcoro"
                              required readonly disabled />
                            <label for="modalEditUserName">Usuario</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Email"
                              name="Email"
                              class="form-control"
                              value="{{ usuario.email }}"
                              placeholder="laradelcoro@gmail.com" 
                              required/>
                            <label for="modalEditUserEmail">Email</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="date"
                              id="FechaNacimiento"
                              name="FechaNacimiento"
                              class="form-control"
                              value="{{ usuario.fechaNacimientoISO }}"
                              placeholder="" 
                              required readonly disabled/>
                            <label for="modalEditUserFechaNac">Fecha Nacimiento</label>
                          </div>
                        </div>
                       <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Direccion"
                              name="Direccion"
                              class="form-control"
                              value="{{ usuario.direccion }}"
                              placeholder="Maipu 1837"
                              required />
                            <label for="modalEditUserDireccion">Dirección</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating form-floating-outline form-floating-select2" data-select2-id="3">
                            <label for="localidad" class="form-label">Localidad</label>
                            <select class="form-select" id="Localidad" name="Localidad" required>
                              <option value="">Seleccione una localidad</option>
                              {% for loc in localidades %}
                                <option value="{{ loc.value }}" {% if usuario.localidad_valor == loc.value %}selected{% endif %}>
                                  {{ loc.text }}
                                </option>
                              {% endfor %}
                            </select>
                          </div>
                          </div>
                        <div class="col-12 col-md-6">
                          <div class="input-group input-group-merge">
                            <span class="input-group-text">ARG (+54)</span>
                            <div class="form-floating form-floating-outline">
                              <input
                                type="text"
                                id="Telefono"
                                name="Telefono"
                                class="form-control phone-number-mask"
                                value="{{ usuario.telefono }}"
                                placeholder="3471-607768"
                                required />
                              <label for="modalEditUserPhone">Telefono</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                            Cancelar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Edit User Modal -->
              <!-- /Modal -->
            </div>
            <!-- / Content -->



{% endblock %}