{% extends "base.html" %}


{% block content %}

<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row gy-6 gy-md-0">
                <!-- User Sidebar -->
                <div class="col-xl-4 col-lg-5 col-md-5">
                  <!-- User Card -->
                  <div class="card mb-4">
                    <div class="card-body pt-12">
                      <div class="user-avatar-section">
                        <div class="d-flex align-items-center flex-column">
                          <img
                            class="img-fluid rounded-3 mb-4"
                            src="../../static/img/avatars/2.png"
                            height="120"
                            width="120"
                            alt="User avatar" />
                          <div class="user-info text-center">
                            <h5>{{ usuario.nombre }} {{ usuario.apellido }}</h5>
                            <span class="badge bg-label-hover-info rounded-pill">{{usuario.rol}}</span>
                          </div>
                        </div>
                      </div>
                     
                      <h5 class="pb-4 border-bottom mb-4">Datos</h5>
                      <div class="info-container">
                        <ul class="list-unstyled mb-6">
                             <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Nombre:</span>
                            <span>{{ usuario.nombre }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Apellido:</span>
                            <span>{{ usuario.apellido }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Usuario:</span>
                            <span>{{usuario.usuario}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Email:</span>
                            <span>{{ usuario.email }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Estado:</span>
                            <span class="badge rounded-pill {{ 'bg-label-success' if usuario.idEstado == 1 else 'bg-label-danger' }}">
                              {{ usuario.estado }}
                            </span>
                          </li>
                           <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Categoria:</span>
                            <span>{{usuario.categoria}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Rol:</span>
                            <span>{{usuario.rol}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Dirección:</span>
                            <span>{{usuario.direccion}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Localidad:</span>
                            <span>{{usuario.localidad}}</span>
                          </li>
                          <li class="mb-2">
                            <span class="fw-medium text-heading me-2">Telefono:</span>
                            <span>{{usuario.telefono}}</span>
                          </li>
                          
                        </ul>
                        <div class="d-flex justify-content-center">
                          <a
                            href="javascript;;"
                            class="btn btn-primary me-4"
                            data-bs-target="#editUser"
                            data-bs-toggle="modal"
                            >Editar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /User Card -->
                  
                </div>
                <!--/ User Sidebar -->

                <!-- User Content -->
                <div class="col-xl-8 col-lg-7 col-md-7">
                  <!-- Tabla que muestra los pagos filtrados para ese usuario -->
                  <div class="card mb-4">
                    <h5 class="card-header">Estado de Cuotas</h5>
                    <div class="table-responsive text-nowrap">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Mes</th>                        
                            <th>Estado</th>
                            <th>Fecha pago</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          <tr>
                            <td>
                              Enero 2025
                            </td>
                            <td><span class="badge rounded-pill bg-label-success me-1">Pago</span></td>
                            <td>10/01/2025</td>         
                          </tr>
                          <tr>
                            <td>
                              Febrero 2025
                            </td>
                            <td><span class="badge rounded-pill bg-label-success me-1">Pago</span></td>
                            <td>11/02/2025</td>         
                          </tr>
                          <tr>
                            <td>
                              Marzo 2025
                            </td>
                            <td><span class="badge rounded-pill bg-label-success me-1">Pago</span></td>
                            <td>10/03/2025</td>         
                          </tr>
                          <tr>
                            <td>
                              Abril 2025
                            </td>
                            <td><span class="badge rounded-pill bg-label-danger me-1">No Pago</span></td>
                            <td>10/04/2025</td>         
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card">
                    <!-- Cambiar contraseña -->
                    <h5 class="card-header">Cambiar Contraseña</h5>
                    <div class="card-body">

                    <form id="formChangePassword" method="POST" action="/cambiar_contraseña">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <h5 class="alert-heading mb-1">Asegúrese de que se cumplan estos requisitos: </h5>
                      <span>Mínimo 8 caracteres de largo, mayúsculas y símbolo</span>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="row gx-5">
                      <!-- Nueva contraseña -->
                      <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                        <div class="input-group input-group-merge">
                          <div class="form-floating form-floating-outline">
                            <input
                              class="form-control {% if errors and errors.newPassword %}is-invalid{% endif %}"
                              type="password"
                              id="newPassword"
                              name="newPassword"
                              placeholder="••••••••••••" />
                            <label for="newPassword">Nueva Contraseña</label>
                          </div>
                          <span class="input-group-text cursor-pointer text-heading">
                            <i class="ri-eye-off-line"></i>
                          </span>
                        </div>
                        {% if errors and errors.newPassword %}
                          <div class="invalid-feedback d-block">
                            {{ errors.newPassword }}
                          </div>
                        {% endif %}
                      </div>

                      <!-- Confirmar contraseña -->
                      <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                        <div class="input-group input-group-merge">
                          <div class="form-floating form-floating-outline">
                            <input
                              class="form-control {% if errors and errors.confirmPassword %}is-invalid{% endif %}"
                              type="password"
                              name="confirmPassword"
                              id="confirmPassword"
                              placeholder="••••••••••••" />
                            <label for="confirmPassword">Confirmar nueva contraseña</label>
                          </div>
                          <span class="input-group-text cursor-pointer text-heading">
                            <i class="ri-eye-off-line"></i>
                          </span>
                        </div>
                        {% if errors and errors.confirmPassword %}
                          <div class="invalid-feedback d-block">
                            {{ errors.confirmPassword }}
                          </div>
                        {% endif %}
                      </div>

                      <div>
                        <button type="submit" class="btn btn-primary me-2">Cambiar Contraseña</button>
                      </div>
                    </div>
                  </form>

                    </div>
                  </div>
                </div>
                
                  

                </div>
                
                <!--/ User Content -->
              </div>

              <!-- Modal -->
              <!-- Edit User Modal -->
              <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body p-0">
                      <div class="text-center mb-6">
                        <h4 class="mb-2">Editar Información</h4>
                        
                      </div>
                      <form id="editUserForm" class="row g-5" action="/editUsuario" method="post">
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input 
                              type="text"
                              id="Nombre"
                              name="Nombre"
                              class="form-control"
                              value="{{ usuario.nombre }}"
                              placeholder="Nombre" />
                            <label for="modalEditUserFirstName">Nombre</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Apellido"
                              name="Apellido"
                              class="form-control"
                              value="{{ usuario.apellido }}"
                              placeholder="Apellido" />
                            <label for="modalEditUserLastName">Apellido</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Usuario"
                              name="Usuario"
                              class="form-control"
                              value="{{ usuario.usuario }}"
                              placeholder="laradelcoro" />
                            <label for="modalEditUserName">Usuario</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Email"
                              name="Email"
                              class="form-control"
                              value="{{ usuario.email }}"
                              placeholder="laradelcoro@gmail.com" />
                            <label for="modalEditUserEmail">Email</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Categoria"
                              name="Categoria"
                              class="form-control"
                              value="{{ usuario.categoria }}"
                              placeholder="" />
                            <label for="modalEditUserCategoria">Categoria</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Direccion"
                              name="Direccion"
                              class="form-control"
                              value="{{ usuario.direccion }}"
                              placeholder="Maipu 1837" />
                            <label for="modalEditUserDireccion">Dirección</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-floating form-floating-outline">
                            <input
                              type="text"
                              id="Localidad"
                              name="Localidad"
                              value="{{ usuario.localidad }}"
                              class="form-control modal-edit-tax-id"
                              placeholder="Localidad" />
                            <label for="modalEditTaxID">Localidad</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="input-group input-group-merge">
                            <span class="input-group-text">ARG (+54)</span>
                            <div class="form-floating form-floating-outline">
                              <input
                                type="text"
                                id="Telefono"
                                name="Telefono"
                                class="form-control phone-number-mask"
                                value="{{ usuario.telefono }}"
                                placeholder="3471-607768" />
                              <label for="modalEditUserPhone">Telefono</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                            Cancelar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Edit User Modal -->
              <!-- /Modal -->
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->


{% endblock %}