  {% extends "base.html" %}

  {% block content %}

  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- Basic Bootstrap Table -->
      <div class="card">
        <h2 class="card-header">Bandeja de Notificaciones</h2>
        <div class="card-body">
        {% if current_user.is_authenticated and (current_user.IdRol == RolEnum.Admin or current_user.IdRol == RolEnum.Entrenador) %}
          <div class="d-flex justify-content-end align-items-center gap-2 mb-4">

            <div class="form-floating form-floating-outline" style="min-width: 200px;">
              <input type="text" id="filtroBuscar" class="form-control" placeholder="Buscar...">
              <label for="filtroBuscar">Buscar</label>
            </div>

            <div class="form-floating form-floating-outline" style="min-width: 180px;">
              <select id="categoriaFiltro" class="select2 form-select" data-allow-clear="true" data-placeholder="Categoría">
                <option value="">Todas</option>
                {% for cat in categorias %}
                  <option value="{{ cat.value }}">{{ cat.text }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-floating form-floating-outline" style="min-width: 180px;">
              <select id="divisionFiltro" class="select2 form-select" data-allow-clear="true" data-placeholder="División">
                <option value="">Todas</option>
                {% for div in divisiones %}
                  <option value="{{ div.value }}">{{ div.text }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-floating form-floating-outline" style="min-width: 180px;">
              <select id="ramaFiltro" class="select2 form-select" data-allow-clear="true" data-placeholder="Rama">
                <option value="">Todas</option>
                {% for rama in ramas %}
                  <option value="{{ rama.value }}">{{ rama.text }}</option>
                {% endfor %}
              </select>
            </div>

            <button id="btnFiltrarNotificacion" class="btn btn-primary waves-effect waves-light">
              Filtrar
            </button>
          </div>

        <div class="d-flex justify-content-end align-items-center gap-3 mb-5">
          <a href="javascript:;" class="btn btn-primary" data-bs-target="#addUser" data-bs-toggle="modal">
            Agregar
          </a>
        </div>
        {% endif %}

          <div class="table-responsive text-nowrap overflow-visible">
            <table id="tablaNotificaciones" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Categoria</th>
                  <th>Rama</th>
                  <th>División</th>
                  {% if current_user.IdRol == RolEnum.Admin or current_user.IdRol == RolEnum.Entrenador %}
                  <th>Fecha Envio</th>
                  {% endif %}
                </tr>
              </thead>
            </table>
          </div>
                <!-- Modal -->
                <!-- Agregar User Modal -->
                <div class="modal fade" id="addUser" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-body p-0">
                        <div class="text-center mb-6">
                          <h4 class="mb-2" id="tituloAdd">Nueva Notificación</h4>
                        </div>

                        <form id="addNotificacionForm" class="row g-5" method="POST" action="{{ url_for('notificacion.nueva_notificacion') }}">
                          <div class="col-12">
                            <div class="form-floating form-floating-outline">
                              <input 
                                type="text"
                                id="titulo"
                                name="titulo"
                                class="form-control"
                                value=""
                                placeholder=""
                                required />
                              <label for="modalEditUserFirstName">Título</label>
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-floating form-floating-outline">
                              <select id="categoria" name="categoria" class="form-select">
                                <option value="" disabled selected>Seleccioná una categoría</option>
                                {% for cat in categorias %}
                                  <option value="{{ cat.value }}">{{ cat.text }}</option>
                                {% endfor %}
                              </select>
                              <label for="categoria">Categoría</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-floating form-floating-outline">
                              <select id="division" name="division" class="form-select">
                                  <option value="" disabled selected>Seleccioná una división</option>
                                {% for div in divisiones %}
                                  <option value="{{ div.value }}">{{ div.text }}</option>
                                {% endfor %}
                              </select>
                              <label for="division">División</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-floating form-floating-outline">
                              <select id="rama" name="rama" class="form-select">
                                <option value="" disabled selected>Seleccioná una rama</option>
                                {% for rama in ramas %}
                                  <option value="{{ rama.value }}">{{ rama.text }}</option>
                                {% endfor %}
                              </select>
                              <label for="rama">Rama</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-floating form-floating-outline">
                              <textarea
                                id="descripcion"
                                name="descripcion"
                                class="form-control"
                                placeholder="Descripción detallada"
                                style="height: 120px;"  
                                required></textarea>
                              <label for="modalEditUserLastName">Descripción</label>
                            </div>
                          </div>
                         <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
                            <button type="submit" class="btn btn-primary" id="submitBtn">Crear</button>
                            <button
                              type="reset"
                              class="btn btn-outline-secondary"
                              data-bs-dismiss="modal"
                              aria-label="Close">
                              Cancelar
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Edit User Modal -->
                <!-- /Modal -->

        </div>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block scripts %}


 <script>
  let tabla = null;
  let firstLoad = true; 
  // Inicializar la tabla de Notificaciones
  tabla = $('#tablaNotificaciones').DataTable({
    ajax: {
      url: '/notificacion/filtrar?init=1',
      dataSrc: function (json) {
        if (firstLoad) { 
          firstLoad = false; 
          return []; // ✅ arranca vacía
        }
        return json && json.data ? json.data : [];
      }
    },
    columns: [
      { data: 'id' },
      { data: 'titulo' },
      { data: 'descripcion' },
      { data: 'categoria' },
      { data: 'rama' },
      { data: 'division' },
      { data: 'fechaEnvio'}
    ],
    searching: false,
    ordering: true,
    paging: true,
    pageLength: 10,                 // filas por página
    lengthMenu: [10, 25, 50, 100],  // opciones del selector
    info: true,
    pagingType: 'simple_numbers',   // o 'full_numbers' para «primero/último»
    autoWidth: false,
    dom: "frtip",

    language: {
      emptyTable:  '<div class="text-center">Ningún dato disponible. Intente filtrar</div>',
      zeroRecords: '<div class="text-center">Ningún dato disponible. Intente filtrar</div>',
      lengthMenu:  "Mostrar _MENU_",
      info:        "Mostrando _START_ a _END_ de _TOTAL_",
      infoEmpty:   "Mostrando 0 a 0 de 0",
      infoFiltered:"(filtrado de _MAX_ en total)",
      paginate: {
        previous: '<i class="ri-arrow-left-s-line"></i>',
        next:     '<i class="ri-arrow-right-s-line"></i>',
        first:    'Primero',
        last:     'Último'
      }
    },

    initComplete: function () {
      $('#tablaNotificaciones')
        .removeClass('dataTable no-footer stripe hover')
        .addClass('table');
    }
  });

  // Botón Filtrar
  $('#btnFiltrarNotificacion').on('click', function () {
    filtrar();
  });

  // Función de filtrado
  function filtrar() {
    const categoria = $('#categoriaFiltro').val();
    const division = $('#divisionFiltro').val();
    const rama = $('#ramaFiltro').val();
    const buscar = $('#filtroBuscar').val();

    const url = `/notificacion/filtrar?categoria=${encodeURIComponent(categoria || '')}&division=${encodeURIComponent(division || '')}&rama=${encodeURIComponent(rama || '')}&buscar=${encodeURIComponent(buscar || '')}`;

    tabla.ajax.url(url).load(); // ✅ actualiza la tabla existente
  }

  
  
</script>


  <!-- DataTables Buttons CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"/>

  <!-- DataTables y Buttons JS -->
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

  {% endblock %}