
<!DOCTYPE html>
    <html
    lang="en"
    class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../static/"
    data-template="vertical-menu-template"
    data-style="light">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  
      <title>Inicio</title>
  
      <meta name="description" content="" />
  
      <!-- Favicon -->
      
      <link rel="icon" type="image/x-icon" href="../static/img/favicon/icono-pelota.png" />
  
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

        <!-- Icons -->
        <link rel="stylesheet" href="../static/fonts/remixicon/remixicon.css" />
        <link rel="stylesheet" href="../static/fonts/flag-icons.css" />


        <!-- Core CSS -->
        <link rel="stylesheet" href="../static/rtl/core.css" />
        <link rel="stylesheet" href="../static/rtl/theme-default.css" />
        <link rel="stylesheet" href="../static/rtl/demo.css" />
        <link rel="stylesheet" href="../static/pages/front-page.css" />

        <!--css por paginas-->
        <link rel="stylesheet" href="../static/pages/wizard-ex-checkout.css" />

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="../static/libs/select2/select2.css" />
        <link rel="stylesheet" href="../static/libs/bs-stepper/bs-stepper.css" />
        <link rel="stylesheet" href="../static/libs/rateyo/rateyo.css" />
        <link rel="stylesheet" href="../static/libs/@form-validation/form-validation.css" />

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Helpers -->
        <script src="../static/js/helpers.js"></script>
        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
        <script src="../static/js/template-customizer.js"></script>
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="../static/js/front-config.js"></script>

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
        <link rel="stylesheet" href="../static/vendor/libs/typeahead-js/typeahead.css" />
        <link rel="stylesheet" href="../static/vendor/libs/fullcalendar/fullcalendar.css" />
        <link rel="stylesheet" href="../static/vendor/libs/flatpickr/flatpickr.css" />
        <link rel="stylesheet" href="../static/vendor/libs/select2/select2.css" />
        <link rel="stylesheet" href="../static/vendor/libs/quill/editor.css" />
        <link rel="stylesheet" href="../static/vendor/libs/@form-validation/form-validation.css" />

        <!-- Page CSS -->

        <link rel="stylesheet" href="../static/vendor/css/pages/app-calendar.css" />

            <!-- Helpers -->
        <script src="../static/vendor/js/helpers.js"></script>
        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
        <script src="../static/vendor/js/template-customizer.js"></script>
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <!-- CSS de Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    </head>
    <body>

    <script src="../static/js/dropdown-hover.js"></script>
    <script src="../static/js/mega-dropdown.js"></script>

           <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
          <div class="layout-container">
            
          <!-- Menu -->
            <aside id="navbarSupportedContent" class="layout-menu menu-vertical menu bg-menu-theme">
              <div class="app-brand demo">
                  
                <a href="/inicio" class="app-brand-link">
                  <span class="app-brand-logo demo">
                      <br>
                      <img src="https://cdn-icons-png.flaticon.com/512/6589/6589835.png" width="30" height="30"/>
                  </span>
                  <span class="app-brand-text demo menu-text fw-semibold ms-2 mt-3">Voley App</span>
                </a>
    
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z"
                      fill-opacity="0.9" />
                    <path
                      d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z"
                      fill-opacity="0.4" />
                  </svg>
                </a>
              </div>
    
              <div class="menu-inner-shadow mt-3"></div>
    
              <ul class="menu-inner py-1 ps ps--active-y">

                <!-- Secciones menu -->
                 
                <li class="menu-item">
                  <a href="/miCuenta" class="menu-link">
                    <i class="menu-icon tf-icons ri-home-smile-line"></i>
                    <div data-i18n="Mi Cuenta">Mi Cuenta</div>
                  </a>
                </li>
                  
    
                <!-- Calendario -->
                <li class="menu-item">
                  <a href="/calendario" class="menu-link ">
                    <i class="menu-icon tf-icons ri-calendar-line"></i>
                    <div data-i18n="Calendario">Calendario</div>
                  </a>
                </li>
    
                <!-- Pagos -->
                 {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Admin %}
                <li class="menu-item">
                  <a href="/pagos" class="menu-link ">
                    <i class="menu-icon tf-icons ri-bank-card-2-line"></i>
                    <div data-i18n="Pagos">Pagos</div>
                  </a>
                </li>
                {% endif %}

                <!-- Deportistas -->
                {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Admin %}
                <li class="menu-item">
                  <a href="/deportistas" class="menu-link ">
                    <i class="menu-icon tf-icons ri-group-line"></i>
                    <div data-i18n="Deportistas">Deportistas</div>
                  </a>
                </li>
                {% endif %}


                <!-- Entrenadores -->
                 {% if current_user.is_authenticated and current_user.IdRol == RolEnum.Admin %}
                  <li class="menu-item">
                    <a href="/entrenador" class="menu-link ">
                      <i class="menu-icon tf-icons ri-admin-line"></i>
                      <div data-i18n="Entrenadores">Entrenadores</div>
                    </a>
                  </li>
                {% endif %}
    
                <!-- Seccion entrenadores -->
                <li class="menu-header mt-5">
                  <span class="menu-header-text" data-i18n="Sección para entrenadores">Seccion para entrenadores</span>
                </li>
                <li class="menu-item">
                  <a href="/estadisticas" class="menu-link">
                    <i class="menu-icon tf-icons ri-bar-chart-2-line"></i>
                    <div data-i18n="Estadisticas">Estadisticas</div>
                  </a>
                </li>
                </ul>
            </aside>
            
            <div class="layout-page window-scrolled">
              <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
                  <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                    <i class="ri-menu-fill ri-22px"></i>
                  </a>
                </div>
    
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                  <!-- Search 
                  <div class="navbar-nav align-items-center">
                    <div class="nav-item navbar-search-wrapper mb-0">
                      <a class="nav-item nav-link search-toggler fw-normal px-0" href="javascript:void(0);">
                        <i class="ri-search-line ri-22px scaleX-n1-rtl me-3"></i>
                        <span class="d-none d-md-inline-block text-muted">Buscar</span>
                      </a>
                    </div>
                  </div>
                   -->
    
                  <ul class="navbar-nav flex-row align-items-center ms-auto">
                    
    
                    <!-- Style Switcher 
                    <li class="nav-item dropdown-style-switcher dropdown me-1 me-xl-0">
                      <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <i class="ri-22px ri-sun-line"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                        <li>
                          <a class="dropdown-item waves-effect active" href="javascript:void(0);" data-theme="light">
                            <span class="align-middle"><i class="ri-sun-line ri-22px me-3"></i>Light</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item waves-effect" href="javascript:void(0);" data-theme="dark">
                            <span class="align-middle"><i class="ri-moon-clear-line ri-22px me-3"></i>Dark</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item waves-effect" href="javascript:void(0);" data-theme="system">
                            <span class="align-middle"><i class="ri-computer-line ri-22px me-3"></i>System</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    Style Switcher-->
    
                    <!-- Quick links  
                    <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-1 me-xl-0">
                      <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="ri-star-smile-line ri-22px"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end py-0">
                        <div class="dropdown-menu-header border-bottom py-50">
                          <div class="dropdown-header d-flex align-items-center py-2">
                            <h6 class="mb-0 me-auto">Shortcuts</h6>
                            <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-shortcuts-add text-heading waves-effect waves-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Add shortcuts" data-bs-original-title="Add shortcuts"><i class="ri-add-line ri-24px"></i></a>
                          </div>
                        </div>
                        <div class="dropdown-shortcuts-list scrollable-container ps">
                          <div class="row row-bordered overflow-visible g-0">
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-calendar-line ri-26px text-heading"></i>
                              </span>
                              <a href="app-calendar.html" class="stretched-link">Calendar</a>
                              <small class="mb-0">Appointments</small>
                            </div>
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-file-text-line ri-26px text-heading"></i>
                              </span>
                              <a href="app-invoice-list.html" class="stretched-link">Invoice App</a>
                              <small class="mb-0">Manage Accounts</small>
                            </div>
                          </div>
                          <div class="row row-bordered overflow-visible g-0">
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-user-line ri-26px text-heading"></i>
                              </span>
                              <a href="app-user-list.html" class="stretched-link">User App</a>
                              <small class="mb-0">Manage Users</small>
                            </div>
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-computer-line ri-26px text-heading"></i>
                              </span>
                              <a href="app-access-roles.html" class="stretched-link">Role Management</a>
                              <small class="mb-0">Permission</small>
                            </div>
                          </div>
                          <div class="row row-bordered overflow-visible g-0">
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-pie-chart-2-line ri-26px text-heading"></i>
                              </span>
                              <a href="index.html" class="stretched-link">Dashboard</a>
                              <small class="mb-0">Analytics</small>
                            </div>
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-settings-4-line ri-26px text-heading"></i>
                              </span>
                              <a href="pages-account-settings-account.html" class="stretched-link">Setting</a>
                              <small class="mb-0">Account Settings</small>
                            </div>
                          </div>
                          <div class="row row-bordered overflow-visible g-0">
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-question-line ri-26px text-heading"></i>
                              </span>
                              <a href="pages-faq.html" class="stretched-link">FAQs</a>
                              <small class="mb-0">FAQs &amp; Articles</small>
                            </div>
                            <div class="dropdown-shortcuts-item col">
                              <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                                <i class="ri-tv-2-line ri-26px text-heading"></i>
                              </span>
                              <a href="modal-examples.html" class="stretched-link">Modals</a>
                              <small class="mb-0">Useful Popups</small>
                            </div>
                          </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                      </div>
                    </li>
                    Quick links -->
  
                    <!-- Notification -->
                    <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-4 me-xl-1">
                      <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="ri-notification-2-line ri-22px"></i>
                        <span class="position-absolute top-0 start-50 translate-middle-y badge badge-dot bg-danger mt-2 border"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end py-0">
                        <li class="dropdown-menu-header border-bottom py-50">
                          <div class="dropdown-header d-flex align-items-center py-2">
                            <h6 class="mb-0 me-auto">Notification</h6>
                            <div class="d-flex align-items-center">
                              <span class="badge rounded-pill bg-label-primary fs-xsmall me-2">8 New</span>
                              <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all waves-effect waves-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Mark all as read" data-bs-original-title="Mark all as read"><i class="ri-mail-open-line text-heading ri-20px"></i></a>
                            </div>
                          </div>
                        </li>
                        <li class="dropdown-notifications-list scrollable-container ps">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action dropdown-notifications-item waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <img src="../static/img/avatars/2.png" alt="" class="rounded-circle">
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="small mb-1">Congratulation Lettie 🎉</h6>
                                  <small class="mb-1 d-block text-body">Won the monthly best seller gold badge</small>
                                  <small class="text-muted">1h ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">Charles Franklin</h6>
                                  <small class="mb-1 d-block text-body">Accepted your connection</small>
                                  <small class="text-muted">12hr ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <img src="../static/img/avatars/2.png" alt="" class="rounded-circle">
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">New Message ✉️</h6>
                                  <small class="mb-1 d-block text-body">You have new message from Natalie</small>
                                  <small class="text-muted">1h ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-success"><i class="ri-shopping-cart-2-line"></i></span>
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">Whoo! You have new order 🛒</h6>
                                  <small class="mb-1 d-block text-body">ACME Inc. made new order $1,154</small>
                                  <small class="text-muted">1 day ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <img src="../static/img/avatars/9.png" alt="" class="rounded-circle">
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">Application has been approved 🚀</h6>
                                  <small class="mb-1 d-block text-body">Your ABC project application has been approved.</small>
                                  <small class="text-muted">2 days ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-success"><i class="ri-pie-chart-2-line"></i></span>
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">Monthly report is generated</h6>
                                  <small class="mb-1 d-block text-body">July monthly financial report is generated </small>
                                  <small class="text-muted">3 days ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <img src="../static/img/avatars/5.png" alt="" class="rounded-circle">
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">Send connection request</h6>
                                  <small class="mb-1 d-block text-body">Peter sent you connection request</small>
                                  <small class="text-muted">4 days ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <img src="../static/img/avatars/6.png" alt="" class="rounded-circle">
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">New message from Jane</h6>
                                  <small class="mb-1 d-block text-body">Your have new message from Jane</small>
                                  <small class="text-muted">5 days ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read waves-effect">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-warning"><i class="ri-error-warning-line"></i></span>
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <h6 class="mb-1 small">CPU is running high</h6>
                                  <small class="mb-1 d-block text-body">CPU Utilization Percent is currently at 88.63%,</small>
                                  <small class="text-muted">5 days ago</small>
                                </div>
                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                  <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                  <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="ri-close-line ri-20px"></span></a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></li>
                        <li class="border-top">
                          <div class="d-grid p-4">
                            <a class="btn btn-primary btn-sm d-flex waves-effect waves-light" href="javascript:void(0);">
                              <small class="align-middle">View all notifications</small>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--/ Notification -->
    
                    <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                      <a class="nav-link dropdown-toggle hide-arrow show" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                          <img src="../static/img/avatars/2.png" alt class="rounded-circle">
                        </div>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a class="dropdown-item waves-effect" href="/miCuenta">
                            <div class="d-flex">
                              <div class="flex-shrink-0 me-2">
                                <div class="avatar avatar-online">
                                  <img src="../static/img/avatars/1.png" alt="" class="rounded-circle">
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <span class="fw-medium d-block small">{{current_user.Nombre}}</span>
                                <small class="text-muted">{{obtenerNombreRol(current_user.IdRol)}}</small>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <div class="dropdown-divider"></div>
                        </li>
                        <li>
                          <a class="dropdown-item waves-effect" href="/miCuenta">
                            <i class="ri-user-3-line ri-22px me-3"></i><span class="align-middle">Mi Perfil</span>
                          </a>
                        </li>
                        <!--<li>
                          <a class="dropdown-item waves-effect" href="pages-account-settings-account.html">
                            <i class="ri-settings-4-line ri-22px me-3"></i><span class="align-middle">Settings</span>
                          </a>
                        </li> -->
                        <!--<li>
                          <a class="dropdown-item waves-effect" href="pages-account-settings-billing.html">
                            <span class="d-flex align-items-center align-middle">
                              <i class="flex-shrink-0 ri-file-text-line ri-22px me-3"></i>
                              <span class="flex-grow-1 align-middle">Billing</span>
                              <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger">4</span>
                            </span>
                          </a>
                        </li> -->
                        <!--<li>
                          <div class="dropdown-divider"></div>
                        </li> -->
                        <!--<li>
                          <a class="dropdown-item waves-effect" href="pages-pricing.html">
                            <i class="ri-money-dollar-circle-line ri-22px me-3"></i><span class="align-middle">Pricing</span>
                          </a>
                        </li> -->
                       <!-- <li>
                          <a class="dropdown-item waves-effect" href="pages-faq.html">
                            <i class="ri-question-line ri-22px me-3"></i><span class="align-middle">FAQ</span>
                          </a>
                        </li> -->
                        <li>
                          <div class="d-grid px-4 pt-2 pb-1">
                            <a class="btn btn-sm btn-danger d-flex waves-effect waves-light" href="/logout">
                              <small class="align-middle">Cerrar Sesión</small>
                              <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!--/ User -->
                  </ul>
                </div>
    
                <!-- Search Small Screens -->
                <div class="navbar-search-wrapper search-input-wrapper d-none">
                  <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search...">
                  <i class="ri-close-fill search-toggler cursor-pointer"></i>
                </div>
              </nav>

              <div class="content-wrapper">
                <div id="alerta-container" style="
                        position: fixed;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1050;  
                        width: 90%;
                        max-width: 200px;
                        text-align: center;
                    ">
                    {% with mensajes = get_flashed_messages(with_categories=true) %}
                      {% if mensajes %}
                        <div class="container mt-3">
                          {% for categoria, mensaje in mensajes %}
                            <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                              {{ mensaje }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endwith %}
                </div>

                  {% block content %}{% endblock %}
              
              </div>
            </div>

            </div>
        </div>


      <!-- jQuery (primero siempre, solo una vez) -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <!-- Bootstrap Bundle JS (con Popper incluido, no hace falta Popper aparte) -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

      <!-- Plugins que dependen de jQuery -->
      <script src="../static/libs/select2/select2.js"></script>
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

      <!-- Otras librerías -->
      <script src="../static/libs/bs-stepper/bs-stepper.js"></script>
      <script src="../static/libs/rateyo/rateyo.js"></script>
      <script src="../static/libs/cleavejs/cleave.js"></script>
      <script src="../static/libs/cleavejs/cleave-phone.js"></script>
      <script src="../static/libs/@form-validation/popular.js"></script>
      <script src="../static/libs/@form-validation/bootstrap5.js"></script>
      <script src="../static/libs/@form-validation/auto-focus.js"></script>
      <script src="../static/vendor/libs/fullcalendar/fullcalendar.js"></script>
      <script src="../static/vendor/libs/moment/moment.js"></script>
      <script src="../static/vendor/libs/flatpickr/flatpickr.js"></script>
      <script src="../static/vendor/libs/node-waves/node-waves.js"></script>
      <script src="../static/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="../static/vendor/libs/hammer/hammer.js"></script>
      <script src="../static/vendor/libs/i18n/i18n.js"></script>
      <script src="../static/vendor/libs/typeahead-js/typeahead.js"></script>
      <script src="../static/vendor/js/menu.js"></script>

      <!-- Tus JS personalizados -->
      <script src="../static/js/front-main.js"></script>
      <script src="../static/js/main.js"></script>
      <script src="../static/js/modal-add-new-address.js"></script>
      <script src="../static/js/wizard-ex-checkout.js"></script>
      <script src="../static/js/app-calendar-events.js"></script>
      <script src="../static/js/app-calendar.js"></script>

      <script>
        setTimeout(() => {
          $("#alerta-container").each(function() {
            $(this).removeClass('show').addClass('hide');
            setTimeout(() => $(this).remove(), 500);
          });
        }, 2000);
      </script>
      {% block scripts %}{% endblock %}

</body>
</html>