{% extends "base.html" %}


{% block content %}

 <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card app-calendar-wrapper">
                <div class="row g-0">
                  <!-- Calendar Sidebar -->
                  <div class="col app-calendar-sidebar border-end" id="app-calendar-sidebar">
                    <div class="p-5 my-sm-0 mb-4 border-bottom">
                      <button
                        class="btn btn-primary btn-toggle-sidebar w-100"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#addEventSidebar"
                        aria-controls="addEventSidebar">
                        <i class="ri-add-line ri-16px me-1_5"></i>
                        <span class="align-middle">Nuevo Evento</span>
                      </button>
                    </div>
                    <div class="px-4">
                      <!-- inline calendar (flatpicker) -->
                      <div class="inline-calendar"></div>
                        
                      <hr class="mb-5 mx-n4 mt-3" />
                      <!-- Filter -->
                      <div class="mb-4 ms-1">
                        <h5>Filtros</h5>
                      </div>

                      <div class="form-check form-check-secondary mb-5 ms-3">
                        <input
                          class="form-check-input select-all"
                          type="checkbox"
                          id="selectAll"
                          data-value="all"
                          checked />
                        <label class="form-check-label" for="selectAll">Todos</label>
                      </div>

                      <div class="app-calendar-events-filter text-heading">
                        <div class="form-check form-check-danger mb-5 ms-3">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-partido"
                            data-value="partido"
                            checked />
                          <label class="form-check-label" for="select-partido">Partido</label>
                        </div>
                        <div class="form-check mb-5 ms-3">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-evento"
                            data-value="evento"
                            checked />
                          <label class="form-check-label" for="select-evento">Evento</label>
                        </div>
                        <div class="form-check form-check-warning mb-5 ms-3">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-Entrenamiento"
                            data-value="Entrenamiento"
                            checked />
                          <label class="form-check-label" for="select-Entrenamiento">Entrenamiento</label>
                        </div>
                        <div class="form-check form-check-success mb-5 ms-3">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-holiday"
                            data-value="holiday"
                            checked />
                          <label class="form-check-label" for="select-holiday">Holiday</label>
                        </div>
                        <div class="form-check form-check-info ms-3">
                          <input
                            class="form-check-input input-filter"
                            type="checkbox"
                            id="select-etc"
                            data-value="etc"
                            checked />
                          <label class="form-check-label" for="select-etc">ETC</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Calendar Sidebar -->

                  <!-- Calendar & Modal -->
                  <div class="col app-calendar-content">
                    <div class="card shadow-none border-0">
                      <div class="card-body pb-0">
                        <!-- FullCalendar -->
                        <div id="calendar"></div>
                      </div>
                    </div>
                    <div class="app-overlay"></div>
                    <!-- FullCalendar Offcanvas -->
                    <div
                      class="offcanvas offcanvas-end event-sidebar"
                      tabindex="-1"
                      id="addEventSidebar"
                      aria-labelledby="addEventSidebarLabel">
                      <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="addEventSidebarLabel">Nuevo Evento</h5>
                        <button
                          type="button"
                          class="btn-close text-reset"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <form class="event-form pt-0" id="eventForm" onsubmit="return false">
                          <div class="form-floating form-floating-outline mb-5">
                            <input
                              type="text"
                              class="form-control"
                              id="eventTitle"
                              name="eventTitle"
                              placeholder="Titulo Evento" />
                            <label for="eventTitle">Titulo</label>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">
                              <option data-label="primary" value="Todos" selected>Partido</option>
                              <option data-label="danger" value="Personal">Evento</option>
                              <option data-label="warning" value="Family">Entrenamiento</option>
                              <option data-label="success" value="Holiday">Holiday</option>
                              <option data-label="info" value="ETC">ETC</option>
                            </select>
                            <label for="eventLabel">Tipo</label>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <input
                              type="text"
                              class="form-control"
                              id="eventStartDate"
                              name="eventStartDate"
                              placeholder="Fecha Inicio" />
                            <label for="eventStartDate">Fecha Inicio</label>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <input
                              type="text"
                              class="form-control"
                              id="eventEndDate"
                              name="eventEndDate"
                              placeholder="Fecha Fin" />
                            <label for="eventEndDate">Fecha Fin</label>
                          </div>
                          <div class="mb-5">
                            <div class="form-check form-switch">
                              <input type="checkbox" class="form-check-input allDay-switch" id="allDaySwitch" />
                              <label class="form-check-label" for="allDaySwitch">Todo el día</label>
                            </div>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <input
                              type="url"
                              class="form-control"
                              id="eventURL"
                              name="eventURL"
                              placeholder="https://www.google.com" />
                            <label for="eventURL">Event URL</label>
                          </div> 
                          <div class="form-floating form-floating-outline mb-5 select2-primary">
                            <select
                              class="select2 select-event-guests form-select"
                              id="eventGuests"
                              name="eventGuests"
                              multiple>
                              <option data-avatar="1.png" value="Jane Foster">Jane Foster</option>
                              <option data-avatar="3.png" value="Donna Frank">Donna Frank</option>
                              <option data-avatar="5.png" value="Gabrielle Robertson">Gabrielle Robertson</option>
                              <option data-avatar="7.png" value="Lori Spears">Lori Spears</option>
                              <option data-avatar="9.png" value="Sandy Vega">Sandy Vega</option>
                              <option data-avatar="11.png" value="Cheryl May">Cheryl May</option>
                            </select>
                            <label for="eventGuests">Add Guests</label>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <input
                              type="text"
                              class="form-control"
                              id="eventLocation"
                              name="eventLocation"
                              placeholder="Localidad" />
                            <label for="eventLocation">Localidad</label>
                          </div>
                          <div class="form-floating form-floating-outline mb-5">
                            <textarea class="form-control" name="eventDescription" id="eventDescription"></textarea>
                            <label for="eventDescription">Descripción</label>
                          </div>
                          <div class="mb-5 d-flex justify-content-sm-between justify-content-start my-6 gap-2">
                            <div class="d-flex">
                              <button type="submit" id="addEventBtn" class="btn btn-primary btn-add-event me-4">
                                Agregar
                              </button>
                              <button
                                type="reset"
                                class="btn btn-outline-secondary btn-cancel me-sm-0 me-1"
                                data-bs-dismiss="offcanvas">
                                Cancelar
                              </button>
                            </div>
                            <button class="btn btn-outline-danger btn-delete-event d-none">Eliminar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- /Calendar & Modal -->
                </div>
              </div>
            </div>
            <!-- / Content -->


{% endblock %}

